@font-face { font-family: Exo; src: url('Exo-Regular.ttf');}

body {
    line-height: 2em;
    font-family: Exo, sans-serif;
    margin: 3% 10%;
    padding: 0;
    background-color: #fff;
    color: #12182e;
    overflow-wrap: break-word
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 2em;
    margin-bottom: 5em;
}

.center {
    text-align: center;
}

.heading-logo {
    margin-top: 3em;
    float: center;
    height: 6em;
    width: auto;
    object-fit: cover;
}

footer {
    background-color: #fff;
    /* center text and images */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3em;
}

.funding {
    display: block;
}

.funding-logo {
    float: left;
    width: auto;
    height: 8em;
    object-fit: cover;
    margin: 0.5em;
}

.primary-btn {
    display: inline-block;
    background-color: #1abb97;
    color: #12182e;
    padding: 0.7em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0.5em 0;
}

.primary-btn:focus,
.primary-btn:hover,
.primary-btn:active {
    background-color: #1ed7af;
}

.muted {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.muted:focus,
.muted:hover,
.muted:active {
    color: #111;
    text-decoration: underline;
}

a {
    color: #1abb97;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

.display {
    display: block;
    top: 0;
    height: auto;
    width: 40ch;
    margin-left: auto;
    margin-right: 0;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: inherit;
    }

    .display {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    img {
        width: 50ch;
    }

    .display {
        justify-content: center;
        align-items: center;
    }

    h1 {
        padding-top: 2rem;
    }
}

/* implement dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #12182e;
        color: #fefefe;
    }

    a {
        color: #affe00;
    }

    .primary-btn,
    .primary-btn:visited {
        background-color: #affe00;
        color: #111;
    }

    .primary-btn:focus,
    .primary-btn:hover,
    .primary-btn:active {
        background-color: #eeee00;
    }
}